<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{{ page_title }}</title>

  {{ content_for_header }}

  <link rel="stylesheet" href="{{ 'base.css' | asset_url }}">
  <script defer src="{{ 'motion.js' | asset_url }}"></script>
  <script defer src="{{ 'transitions.js' | asset_url }}"></script>
  <script defer src="{{ 'video-scroll.js' | asset_url }}"></script>
  <script defer src="{{ 'reviews-slider.js' | asset_url }}"></script>
</head>

<body class="fade-body">

{% render 'loader' %}
{% render 'page-transition' %}

{{ content_for_layout }}

</body>
</html>
